div.title{
	width:100%;
	height:20%;
	background-color:rgb(89,136,247);
}
div.holder{
top:20%;
position:absolute;
overflow:hidden;
width:210%;
height:100%;
}
div.main{	
	width:45%;
	margin-left:1.25%;
	float:left;
	background-color: #DDD;
}
div.input{
	margin-left:5%;
	float:left;
	width:45%;
	background-color: #000;
}
div.buttons{
	width:100%;
	margin-top:5%;
}
body{
	overflow:hidden;
	margin: 0;
	height:100%;
	background-color: #DDD;
}
html {
	margin: 0;
    height: 100%;
}
button.default{
	height:130px;
	margin-bottom:3%;
	margin-right:auto;
	margin-left:auto;
	width:100%;
	font-size:500%;
	background-color:#AAF;
	
}