div.title{
	margin-left:1.5%;
	margin-top:5%;
	padding-top:3%;
	padding-bottom:3%;
	font-size:14vmin;
	text-align:center;
	border-radius:10px;
	width:97%;
	height:30%;
	overflow:hidden;
	background-color:rgb(164,166,165);
}
#map-canvas {
    margin: 0px;
    padding: 0px;
	margin-top:1%;
	padding:4%;
	width:100%;
	height: 100%;
	float:left;
}
div.formtitle{
	margin-left:1.5%;
	margin-top:5%;
	padding-top:3%;
	padding-bottom:3%;
	font-size:12vmin;
	text-align:center;
	width:97%;
	height:30%;
	overflow:hidden;
	background-color:rgb(255,255,255);
}
div.holder{
	top:5%;
	position:absolute;
	overflow:hidden;
	font-family:font;
	overflow-y:scroll;
	width:210%;
}
div.formholder{
	border:3px solid black;
	background-color:rgb(63,65,103);
	color:rgb(216,180,252);
	margin-right:auto;
	margin-left:auto;
	width:90%;
	//margin-bottom:2%;
	margin-bottom:2%;
	border-radius:10px;
	overflow:hidden;
}
div.main{	
	width:45%;
	margin-left:1.25%;
	border-radius:20px;
	float:left;
	background-color: white;
}
div.input{
	margin-left:5%;
	float:left;
	width:45%;
	background-color: #DDD;
}
div.buttons{
	margin-left:2%;
	margin-top:5%;
	width:96%;
	
}
div.form{
	font-size:5vmin;
	padding:2.5%;
	width:85%;
	overflow:hidden;
	background-color: #EEE;
	margin-top:5%;
	margin-left:5%;
	margin-right:5%;
	border-radius:4px;
}
span.desc{
	text-align:right;
	font-size:5vmin;
	margin-top:4%;
	width:40%;
	float:left;
	margin-right:2%;
}
input.box{
	border-radius:10px;
	margin-top:1%;
	font-family:font;
	font-size:5vmin;
	margin-bottom:1%;
	padding:4%;
	width:48%;
	height: 10%;
	float:left;
}
html,body{
	height:100%;
    overflow-x: hidden;
	overflow-y:scroll;
	margin: 0;
	background-color: rgb(17,18,64);
	overflow-x: hidden;
}
img.title{
	margin-left:3%;
	width:80%;
	float:left;
}
button.default{
	height:130px;
	margin-bottom:3%;
	margin-right:auto;
	margin-left:auto;
	width:100%;
	font-size:5vmin;
	border-radius:10px;
	border:3px solid black;
	color:rgb(216,180,252);
	background-color:rgb(63,65,103);
	
}
img.back{
	float:left;
	width:10%;
	height:10%;
	display: inline-block;
	margin-left:3%;
}
button.submit2{
	margin-bottom:3%;
	margin-top:2%;
	width:200px;
	height:60px;
	font-size:5vmin;
	border-radius:10px;
	border:3px solid rgb(217,41,73);
	color:rgb(255,255,255);
	background-color:rgb(241,46,82);
}
@font-face {
    font-family: font;
    src: url(OpenSans-Regular.ttf);
}